@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

@media only screen and (max-width: 600px) {
    .content {
			width: 100% !important;
			margin: 0 auto;
		}

}

body {
	background: #F6F6F6;
}

.bedanktCopyright {

	font-size: 12px;
	text-align: center;
	padding-top:10px;
	color: #a5a6a7;
}
.content {
	max-width: 650px;
	margin: 0 auto;
}

.header img {

	max-width: 250px;
  height: 45px;
}

.iDealBtn img:hover {
	cursor: pointer;
}

.header {
	width: 100%;
	border: 1px #E0E6EC solid; 
	height: 150px;
	padding:40px 40px 0px 0px;
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; 
	color: #666666; 
	font-size: 12px; 
	text-align: right;
}

.body-top {
	width: 100%;
	border: 1px #E0E6EC solid; 
	padding:40px;
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; 
	font-size: 16px; color: #333333; 
	line-height: 24px;
}

.iDealBtn{
	text-align: center;
	padding: 10px 0 15px 0;
}

.description {
	background: #d5dade;
	padding:20px;
}

.body-bottom {
	padding:20px;
	width: 100%;
	border: 1px #E0E6EC solid; 
}


.description tr:nth-child(1) {
	height: 45px;
	font-size: 14px; 
	font-weight: bold; 
}
.description td {

	text-align: left;
}
.description td:nth-child(1) {
		width: 60%;
		padding-right: 15px;
		padding-left:20px;
}


.description td:nth-child(2) {
		width: 25%;
}


.description td:nth-child(3) {
		width: 15%;
}

.totalBetalen{
	font-weight: bold;
}
.totalBetalen td:nth-child(1){
	text-align: right;
	padding-top: 20px;
}
.totalBetalen td{
	padding-top: 25px;
}
.totalBetalen .smallText {
	  color: #666666;
    font-size: 12px;
    font-weight: normal;
   	margin-top:7px;
}

.totalBetalen td:nth-child(3) {
		width: 15%;
}

.body-bottom {
	padding:0px;
}
.body-bottom div:nth-child(1) {

		font-size: 12px;
		padding: 20px 20px;
}

.body-bottom div:nth-child(2){
		font-weight: bold;
		font-size: 16px;
		padding: 0px 20px;
}
.body-bottom p {
	font-size: 16px;
	padding: 0px 20px 20px 20px;
}

.footer a, .footer span{
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; 
	color: #a9aaac; font-size: 12px; 
	text-decoration: none;
}

.footer-links{
	padding-left: 0px !important;
	margin-top:10px;
	height: 35px;

}

.footer div:last-child {
	padding: 20px 0;
	text-align: center;
	border-top: 1px #c5c5c5 solid; 
	font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; 
	color: #a9aaac; font-size: 12px; 
}

.bedanktText {


	padding: 15px 20px 60px 20px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: normal;
	color: rgb(8, 75, 119);
}

.bedanktFooter{

	font-size: 11px;
	padding-top:8px;
	height: 30px;
  text-decoration: none;
	text-align: center;

	background: -moz-linear-gradient(270deg, rgba(0,142,224,1) 0%, rgba(0,65,103,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,142,224,1)), color-stop(100%, rgba(0,65,103,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(0,142,224,1) 0%, rgba(0,65,103,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(0,142,224,1) 0%, rgba(0,65,103,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(0,142,224,1) 0%, rgba(0,65,103,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(0,142,224,1) 0%, rgba(0,65,103,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008EE0', endColorstr='#004167',GradientType=0 ); /* ie6-9 */

}

.bedanktFooter a {
	color: rgb(255, 255, 255) !important;

}

.bedankt img {

	margin:20px;

}

.bedankt {
	margin-top: 15px;
	-webkit-box-shadow: 0px 0px 12px -2px rgba(0,53,84,1);
	-moz-box-shadow: 0px 0px 12px -2px rgba(0,53,84,1);
	box-shadow: 0px 0px 12px -2px rgba(0,53,84,1);
	border-radius: 2px;
}

.bedankt .header {
	padding: 5px 10px;
	height: 50px;
	color: #f9f9f9;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

.green.header  {
	background: #4cb848;
}

.red.header  {
	background: #da0811;
}

#offline h2 ,#offline p {
	text-align: left;
	font-family: 'Arimo', sans-serif;

	font-weight: bold;
	color: #4e5257;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}

#offline p {
	font-size: 16px;
	font-weight: normal;
}

#offline p.small {
	font-size: 16px;
}

#offline {
	padding-top:20px;
}
