
<input type="hidden" name="txntype" value="sale">
<input type="hidden" name="timezone" value="Europe/Berlin"/>
<!-- <input type="hidden" name="txndatetime" value="{$smarty.now|date_format:'%Y:%m:%d-%H:%M:%S'}"/> -->
<input type="hidden" name="txndatetime" value="{$aData.Betalen.txndatetime}"/>
<input type="hidden" name="hash_algorithm" value="SHA256"/>
<input type="hidden" name="hash" value="{$aData.Betalen.hash}"/>
<input type="hidden" name="storename" value="{$smarty.const.STORENAME}"/>
<input type="hidden" name="mode" value="payonly"/>
<input type="hidden" name="chargetotal" value="{$aData.Betalen.totalBedrag|replace:',':'.'}"/>
<input type="hidden" name="currency" value="978"/>
<input type="hidden" name="oid" value="{$aData.Betalen.oid}"/>
<input type="hidden" name="referentieBetalen" value="123456789"/>
<input type="hidden" name="checkoutoption" value="combinedpage"/>


<input type="hidden" name="responseSuccessURL" value="{$smarty.const.RESPONSE_URL}">
<input type="hidden" name="responseFailURL" value="{$smarty.const.RESPONSE_URL}">
<input type="hidden" name="profileID" value="{$aData.Profile.ID}">

<input type="hidden" name="paymentMethod" value="ideal"/>